// Skin content

.carousel img {
    height: 100%;
}

#micrositio {
    background: #FFFFF0;
    padding: 1em;
}

#micrositio a {
    color: #AA5B0A;
}

#vid {
    width: 70%;
    background: #7B6D42;
    color: #FAFAD2;
}

#recips {
    width: 70%;
    background: #AA5B0A;
    color: #FAFAD2;
}

#interv {
    width: 70%;
    background: #113E20;
    color: #FAFAD2;
}

#favoritos {
    background-color: #002428;
    padding: 1em;
    
}

.twocolordiv {
  position: relative;
  z-index: 9;
  background: green;
}

.twocolordiv:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  right: 50%;
  bottom: 0;
  left: 0;
  background: green;
}

#favoritos h2 span {
    margin-top: 1.5em;
    font-size: 100px;
    display: block;
    transform: rotate(-90deg);
    color: #FAFAD2;
}

#weekBeer {
    padding-top: 5em;
    padding-bottom: 5em;
    padding-left: 15px;
    padding-right: 15px;

    background: linear-gradient(to bottom, rgba(255,240,245,1) 50%,rgba(255,255,255,1) 50%);


}

#weekBeer div {
    padding: 0;
    
}

#weekBeer img {
    float: right;
    height: 100%;
}

#weekBeer .card {
    width: 70%;
    margin: 1em;
    padding: 1rem;
}

#regCnt {
    position: absolute;
    top: 61%;
    transform: translateY(-50%);
}

.insta {
    margin-left: 1.5rem;

}

// Formulario de Contacto

.form{
    margin-right: 5rem;
    margin-left: 5rem;
    margin-bottom: 6rem;
}