// Skin Header

body {
    margin: 0;
}

.header {
    background: #002428;
    color: #fff;
    margin-bottom: 10px;
    
}


.footer {
    margin-top: 10px;
}


.navbar-header img{
    height: auto;
    width: 100%;
}

.navbar .navbar-collapse ul {
    display: flex;
    justify-content: space-around;
    width: 100%;
}




